/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.fillColor {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.btn:hover {
    -fx-text-fill: #8947c3;
}

.btn:pressed {
    -fx-opacity: 0.7;
}


.list-view .list-cell {
    -fx-background-color: none;
    -fx-text-fill: #a154e5;

}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-font-size: 15.0;
    -fx-color: #b173ea;
}


#cssRoomList {
	-fx-background-color: none;
    -fx-text-fill: red;
}



#cssRoomList .scroll-bar:vertical .decrement-button, .increment-button {
    -fx-background-color: none;
    -fx-background-radius : 0.0em;
    -fx-opacity: 0;
    -fx-padding: 0.0 0.15em; 
}

#cssRoomList .scroll-bar:vertical .decrement-arrow, .increment-arrow {
	-fx-background-color: none;
    -fx-opacity: 0;
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em; 
}

#cssRoomList .scroll-bar:vertical {
	-fx-pref-width: 0.1em;
} 

#cssRoomList .scroll-bar:vertical .track, .track-background {
    -fx-background-color: #3d3942;
    -fx-border-color: none;

}

#cssRoomList .scroll-bar:vertical .thumb {
    -fx-background-color: #252327;
    -fx-background-insets: -3, 0, 0;
    -fx-background-radius: 0.4em;
}

#cssRoomList .scroll-bar:horizontal {
	-fx-display: none;
}

#cssRoomList .scroll-pane:focused {
    -fx-background-insets: 0;
}

#cssRoomList .scroll-pane .corner {
    -fx-background-insets: 0;
}



#cssChatDisplay {
	-fx-background-color: none;
    -fx-text-fill: #a154e5;
}


#chatbox .text-area, .text-area:focused, .text-area .viewport, .text-area .content, .text-area:focused .content, .panel {
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #504853;
    
} 

#cssSendbtn:hover {
    -fx-graphic: url("../../assets/UI/sendArrowD.png");
  
}

#cssSendbtn:pressed {
    -fx-graphic: url("../../assets/UI/sendArrowD.png");
    -fx-opacity: 0.7;
  
}

#cssLogoutbtn:hover {
	-fx-graphic: url("../../assets/UI/logoutD.png");
}

